body{
    margin: 0;
    padding: 0;
	font-family: 'roboto';
	color: #000;
    background-color:#DCDCDC;
    
}
.tombol{
    width: 5%;
    background-color: darkgray ;
}
.judul{
	background: #87D1D8;
	padding: 10px;
	text-align: center;

}

.judul h1,h2,h3{
	height: 15px;
}

a{
	/*color: #fff;*/
	padding: 5px;
	text-decoration: none;	
}


table{
    border-collapse: collapse;
    color:#DCDCDC;
    width: 95%;
    
}
th{
    border-style: none;
    background-color: #A9A9A9;
    color: white;
    text-align: center;
}
td{
    border-style: none;
    color: black;
    text-align: center;
}
table.table th th , table.table tr td{
	padding: 10px 20px	;
}