body{
    background: rgb(220, 218, 218);
}table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(232, 232, 232);
}thead{
    background: rgb(67, 64, 77);
    border: 1px solid rgb(67, 64, 77);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    font-family: inherit;
    border-collapse: collapse;
}tbody{
    border-bottom: 1px solid rgb(232, 232, 232);
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}tr:nth-child(even){
    background: rgb(232, 232, 232);
    border-radius: 5px;
}tr:nth-child(even):hover{
    background: rgb(240, 240, 240);
}